body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #c578f1, #5584da);
}

.game-container {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;

}
.game-container:hover{
    scale: 1.03;
    transition: all 0.5s;
}
h2 {
    margin: 0 0 15px;
    font-size: 20px;
    color: #333;
}

#guessInput {
    width: 60px;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px 0;
}

#checkButton {
    background-color: #479CD4;
    color: white;
}
.check-restart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#checkButton:hover {
    background-color: #3A88B6;
}

#restartButton {
    background-color: #28A745;
    color: white;
}

#restartButton:hover {
    background-color: #218838;
}

p {
    font-size: 14px;
    margin: 10px 0;
}

#feedback {
    font-weight: bold;
    margin-bottom: 15px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -10px;
}
